<ion-view title="Bookings" id="bookings" style="background-color:#020202;">
    <ion-content padding="false" style="background: url(../img/new.png) no-repeat center;background-size:cover;" class="has-header">
        <div id="confirmation-markdown3" style="color:#FFFFFF;">
          <h3>BookingRef: {{bookingref}}</h3>
        </div>
        <div class="spacer" style="width: 320px; height: 35px;"></div>
        <div ng-if="isthereFlights==true">
        <ion-list>
            <ion-item class="item-thumbnail-left">
                <img src="../img/out-flight.png">
                <h2>Outgoing Flight</h2>
                <p>From: {{from}}</p>
                <p>To: {{to}}</p>
                <p>Departure: {{date1}} {{time1}}</p>
                <p>Arrival: {{date2}} {{time2}}</p>
            </ion-item>
        </ion-list>
        <div ng-if="isReturn===true" class="spacer" style="width: 320px; height: 32px;"></div>
        <ion-list>
            <ion-item class="item-thumbnail-left">
                <img src="../img/return-flight.png">
                <h2>Return Flight</h2>
                <p>From: {{to}}</p>
                <p>To: {{from}}</p>
                <p>Departure: {{date3}} {{time3}}</p>
                <p>Arrival: {{date4}} {{time4}}</p>
            </ion-item>
        </ion-list>
      </div>

      <div ng-if="isthereFlights==false">
        <div class="alert alert-danger text-center" id="confirmation-markdown3" style="color:#FFFFFF;">
          <h3>There is no such booking ,SORRY!</h3>
        </div>
      </div>

    </ion-content>
</ion-view>
