<ion-view style="" title="Reference">
    <ion-content class="has-header" padding="true" style="background: url(../img/background.png) no-repeat center;background-size:cover;">

    <div class="alert alert-success">
        <h1 style=" text-align: center;" >Remember your booking reference to know your flight</h1>
        <form style="" class="list">
            <label style="" class="item item-input">
               <h3 class="text-center "><strong>{{bookingref}}</strong></h3>

        <h1 style="color: rgb(49, 105, 218); text-align: center;" >Remember your booking reference to know your flight</h1>
        <form style="" class="list">
            <label style="" class="item item-input">
                <span class="input-label">Text</span><textarea placeholder=""> </textarea>

            </label>
        </form>
        <div style="" class="button-bar">
            <button class="button button-positive  button-block icon-left ion-android-arrow-back" id="reference-button1">Prev</button>
            <button class="button button-positive  button-block icon-right ion-android-arrow-forward" style="font-size:-7px;text-align:left;">To payment</button>
        </div>

    </div>

    </ion-content>
</ion-view>