<ion-view title="Booking Reference" style="background-color:#473F3F;">

<br><br><br><br>

<div class="padding" style="background-color: #D3EAC9; border-radius: 4%; margin: 0 15px;">
	<h1 style="text-align: center;">Remember your booking reference</h1>

	<br>
	<br>

	<h4 style="text-align: center">Booking Ref: <strong>{{bookingref}}</strong></h4>
<br>

</div>

<br>

<button id="confirmation-button3" ng-click="goNext()" class="button button-royal  button-block icon-right ion-android-done">Proceed to payment</button>

</ion-view>