<!-- <ion-view title="Booking Reference" style="background-color:#473F3F;">

<br><br><br><br>

<div class="padding" style="background-color: #D3EAC9; border-radius: 4%; margin: 0 15px;">
	<h1 style="text-align: center;">Remember your booking reference</h1>

	<br>
	<br>

	<h4 style="text-align: center">Booking Ref: <strong>{{bookingref}}</strong></h4>
<br>

</div>

<br>

<button id="confirmation-button3" ng-click="goNext()" class="button button-royal  button-block icon-right ion-android-done">Done</button>

</ion-view> -->


<ion-view title="Booking Reference" style="background-color:#473F3F;">
<br><br><br><br>
<div ng-hide="dbFinished" style="text-align:center;padding-top:150px;">
        <ion-spinner ></ion-spinner>
        <p style="color:white;">Loading...</p>
</div>

<div ng-show="dbFinished" class="padding" style="background-color: #D3EAC9; border-radius: 4%; margin: 0 15px;">

	<div ng-if="booking.outgoing.airline == 'KLM'">
		<h2 class="text-center">Remember your booking reference to look up Your <span ng-if="booking.return.airline!=='KLM'"><span ng-if='booking.oneway==false'>Outgoing</span> </span>flights</h2>
		<br>
		<h3 class="text-center">Booking Ref:</strong></h3>
		<h3 class="text-center"><strong>{{booking.outgoing.refNum}}</strong></h3>
	</div>
	<div ng-if="booking.outgoing.airline !== 'KLM'">
		<h2 class="text-center">Remember your booking reference to look up Your <span ng-if="booking.return.airline!==booking.outgoing.airline"><span ng-if='booking.oneway==false'>Outgoing</span></span> flights</h2>
		<br>
		<h3 class="text-center">Booking Ref:</h3>
		<h3 class="text-center"><strong>{{booking.outgoing.refNum}}</strong></h3>
					
			<h3 class="text-center "><strong>Go check it out at <a href = "http://{{outgoingIP}}">{{booking.outgoing.airline}}</a></strong></h3>

				
		</div>
	<div ng-if="booking.return.airline !== booking.outgoing.airline">
	<div ng-if="booking.return.airline == 'KLM'">
		<h2 class="text-center">Remember your booking reference to look up Your Return flights</h2>
		<br>
		<h3 class="text-center">Booking Ref:</h3>
		<h3 class="text-center"><strong>{{booking.return.refNum}}</strong></h3>

	</div>
	<div  ng-if="booking.return.airline !== 'KLM'">
		<h2 class="text-center">Remember your booking reference to look up Your Return flights</h2>
		<br>
		<h3 class="text-center">Booking Ref:</strong></h3>
		<h3 class="text-center"><strong>{{booking.return.refNum}}</strong></h3>

		
			<div>
			<h3 class="text-center "><strong>Go check it out at <a href = "http://{{returnIP}}">{{booking.return.airline}}</a></strong></h3>
			</div>	
			</div>
		</div>
	<br>
		
		<div>
		
		<button id="confirmation-button3" ng-click="goNext()" class="button button-royal  button-block icon-right ion-android-done">Done</button>
		</div>
		

</div>

</ion-view>