<ion-view title="Confirmation" id="page1" style="background-color:#020202;">
    <ion-content padding="false" style="background: url(../pics/new.png) no-repeat center;background-size:cover;" class="has-header">
        <div class="spacer" style="width: 320px; height: 35px;"></div>
        <ion-list>
            <ion-item class="item-thumbnail-left">
                <img src="../pics/out-flight.png">
                <h2>Outgoing Flight</h2>
                <p>From: CAI</p>
                <p>To: JED</p>
                <p>Departure: 30/5/2016 14:00</p>
                <p>Arrival: 30/5/2016 15:30</p>
                <p>cost: 66 USD</p>
            </ion-item>
        </ion-list>
        <div class="spacer" style="width: 320px; height: 32px;"></div>
        <ion-list>
            <ion-item class="item-thumbnail-left">
                <img src="../pics/return-flight.png">
                <h2>Return Flight</h2>
                <p>From: JED</p>
                <p>To: CAI</p>
                <p>Departure: 20/6/2016 19:00</p>
                <p>Arrival: 20/6/2016 20:30</p>
                <p>cost: 70 USD</p>
            </ion-item>
        </ion-list>
        <div class="spacer" style="width: 320px; height: 28px;"></div>
        <div id="confirmation-markdown2" style="color:#FFFFFF;">
            <p>Number of Adults: 1 Price per Adult: 500 USD</p>
        </div>
        <div id="confirmation-markdown3" style="color:#FFFFFF;">
            <p>Number of Children: 2 Price per Child: 250 USD</p>
        </div>
        <div id="confirmation-markdown4" style="color:#FFFFFF;">
            <p>Number of Babies: 4 Price per Baby: 125 USD</p>
        </div>
        <div class="spacer" style="width: 320px; height: 29px;"></div>
        <div id="confirmation-markdown5" style="color:#FFFFFF;font-size:20px;text-align:center;">
            <p>TOTAL: 1500 USD</p>
        </div>
        <div class="button-bar">
            <button id="confirmation-button1" class="button button-positive  button-block icon-left ion-android-arrow-back">Prev</button>
            <button id="confirmation-button3" class="button button-positive  button-block icon-right ion-android-arrow-forward">Confirm</button>
        </div>
    </ion-content>
</ion-view>
