<ion-view title="Confirmation" id="page1" style="background-color:#020202;">
    <ion-content padding="false" style="background: url(img/RQHUzLcMQF21IuYqJyJj_new.png) no-repeat center;background-size:cover;" class="has-header">
        <div class="spacer" style="width: 320px; height: 35px;"></div>
        <ion-list>
            <ion-item class="item-thumbnail-left">
                <img src="img/7ee6w5TStyHs9VqAYr4r_out-flight.png">
                <h2>Outgoing Flight</h2>
                <p>From: CAI</p>
                <p>To: JED</p>
                <p>Departure: 30/5/2016 14:00</p>
                <p>Arrival: 30/5/2016 15:30</p>
                <p>cost: 66 USD</p>
            </ion-item>
        </ion-list>
        <div class="spacer" style="width: 320px; height: 32px;"></div>
        <ion-list>
            <ion-item class="item-thumbnail-left">
                <img src="img/mg05IKUZRRaMC048QWm4_return-flight.png">
                <h2>Return Flight</h2>
                <p>From: JED</p>
                <p>To: CAI</p>
                <p>Departure: 20/6/2016 19:00</p>
                <p>Arrival: 20/6/2016 20:30</p>
                <p>cost: 70 USD</p>
            </ion-item>
        </ion-list>
        <div class="spacer" style="width: 320px; height: 30px;"></div>
        <div class="button-bar">
            <button id="confirmation-button1" class="button button-positive  button-block icon-left ion-android-arrow-back">Prev</button>
            <button id="confirmation-button3" class="button button-positive  button-block icon-right ion-android-arrow-forward">Confirm</button>
        </div>
    </ion-content>
</ion-view>
