<ion-view title="Home" id="page1" style="background-color:#473F3F;">
    <ion-content padding="true" class="has-header">
        <div class="button-bar"></div>
        <div id="home-markdown2" style="color:#DCE3F1;font-size:33px;text-align:center;">
            <p>Book Your Flight</p>
        </div>
        <div class="spacer" style="width: 300px; height: 25px;"></div>
        <form class="list">
            <ion-toggle toggle-class="toggle-positive" name="choice">Round Trip</ion-toggle>
            <label class="item item-input">
                <input type="text" placeholder="FROM">
            </label>
        </form>
        <form class="list">
            <label class="item item-input">
                <input type="text" placeholder="TO">
            </label>
            <label class="item item-input">
                <span class="input-label">Travel date</span>
                <input type="date" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Return date</span>
                <input type="date" placeholder="">
            </label>
            <label class="item item-select">
                <span class="input-label">Adults</span>
                <select>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>
            </label>
            <label class="item item-select">
                <span class="input-label">Children</span>
                <select>
                    <option>0</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                </select>
            </label>
            <label class="item item-select">
                <span class="input-label">Babies</span>
                <select>
                    <option>0</option>
                    <option>1</option>
                    <option>2</option>
                </select>
            </label>
            <ion-checkbox>other airlines</ion-checkbox>
            <button id="home-button5" class="button button-royal  button-block">Tap me!</button>
        </form>
    </ion-content>
</ion-view>