<ion-view style="background-color: rgb(17, 224, 235);" id="page1" title="Outgoing Flights">
    <ion-content class="has-header" padding="true" style="background: url(img/GZRkyQPDSCKUHbe8sTfl_13113215_10154244437328578_144898535_o.png.jpeg) no-repeat center;background-size:cover;">
        <div style="" class="button-bar">
            <button class="button button-calm  button-block icon-left ion-android-arrow-back" id="outgoingFlights-button2">Prev</button>
            <button class="button button-positive  button-block icon-right ion-android-arrow-forward" id="outgoingFlights-button4">Next</button>
        </div>
        <div>
            <img style="display: block; margin-left: auto; margin-right: auto;" src="img/7tdGWSRmGZxlCgFojXNw_outgoing.jpeg" height="" width="">
        </div>
        <button class="button button-positive  button-block icon-right ion-android-arrow-down" id="outgoingFlights-button5">Show More</button>
    </ion-content>
</ion-view>
