<ion-view id="page1" title="Outgoing Flights" style="background-color:#473F3F;">
    <ion-content class="has-header" padding="true">
        <div style="" class="button-bar">
            
            <button ng-click="goNext()" class="button button-positive  button-block icon-right ion-android-arrow-forward" id="next">Go to Return Flights</button>
        </div>
        <h3> <strong style = "color: white"> From : </strong> <span style="color:#1C86EE ">{{from}}</span></h3>
        <h3> <strong style = "color: white"> To : </strong>  <span style="color:#1C86EE">{{to}} </span></h3>

        <img style="display: block; margin-left: auto; margin-right: auto;" src="img/KLMft.jpg" height="auto" width="100%">

            <ion-radio ng-model="my" ng-change="changed(flight)" ng-value = "flight" collection-repeat="flight in flights">
                <div style="color: rgb(13, 239, 242);">
                     <p>From : {{flight.origin}}</p>  
                </div>


                <div style="color: rgb(255, 255, 255);">
                    <p>To : {{flight.destination}}</p>
                </div>

                <div style="color: rgb(255, 255, 255);">
                    <p>Airline : {{flight.Airline}}</p>
                </div>

                <div style="color: rgb(255, 255, 255);">
                    <p>Cost : {{flight.cost | currency}}</p>
                </div>

                <div style="color: rgb(13, 239, 242);">
                     <p>Date : {{flight.departureDateTime | date}}</p>
                </div>
                <!-- <div style="color: rgb(13, 239, 242);">
                    <p>Time : {{timeFrom[$index] | date}}</p>
                </div>
                
                <div style="color: rgb(255, 255, 255);">
                    <p>Date : {{dateTo[$index] | date }}</p>
                </div>
                <div style="color: rgb(255, 255, 255);">
                     <p>Time : {{timeTo[$index] | date }}</p>
                </div>
                <div style="color: rgb(13, 239, 242);">
                    <p>Duration : {{duration[$index]}}h</p>  
                </div> -->
                
                
                </ion-radio>
    </ion-content>
</ion-view>