<ion-view view-title="payment">
      <ion-content class="padding">
      <br>
      <br>
      <h2 style="text-align: center;">Payment details</h2><br>
       <form name="payment" novalidate="" ng-submit="">
          
          <br>
          <div class="list">
          <label class="item item-input" ng-class="{ 'has-errors' : payment.cardNumber.$invalid, 'no-errors' : payment.cardNumber.$valid}">
              <span class="input-label">CARD NUMBER</span>
              <input type="tel" name="cardNumber" ng-model="" ng-minlength="16" ng-maxlength="26" required>
            </label>

            <div class="error-container" ng-show="payment.cardNumber.$error" ng-messages="payment.cardNumber.$error">
              <div ng-messages-include="error-list.html"></div>
            </div>

             <label class="item item-input" ng-class="{ 'has-errors' : payment.cvv.$invalid , 'no-errors' : payment.cvv.$valid}">
              <span class="input-label">CVC</span>
              <input type="tel" name="cvv" ng-model="" ng-minlength="3" ng-maxlength="3" required>
            </label>
             
            <div class="error-container last-error-container" ng-show="payment.cvv.$error" ng-messages="payment.cvv.$error">
                <div ng-messages-include="error-list.html"></div> 
            </div> 

              <h4 style="text-align:center;">EXPIRY DATE</h4>

            <div class="row">
             <div class="col">
               <label class="item item-input" ng-class="{ 'has-errors' : payment.month.$invalid , 'no-errors' : payment.month.$valid}">
                <span class="input-label">MONTH</span>
                <input type="tel" name="month" ng-model="" ng-minlength="2" ng-maxlength="2" placeholder=" MM" required>
               </label>
             </div>
             <div class="col">
                <label class="item item-input" ng-class="{ 'has-errors' : payment.year.$invalid , 'no-errors' : payment.year.$valid}">
                <span class="input-label">YEAR</span>
                <input type="tel" name="year" ng-model="" ng-minlength="2" ng-maxlength="2" placeholder=" YY" required>
               </label>
             </div>
            </div>


          </div>

          <button ng-click="goNext()" class="button button-full button-positive" type="submit">
            Finish
          </button>
          <br>
          <br>
          <br>
          <img class="img-responsive pull-right" style= "margin-left: auto;margin-right: auto;display: block;" src="http://i76.imgup.net/accepted_c22e0.png">

       </form>
      </ion-content>
    </ion-view>