<ion-view view-title="payment">
      <ion-content class="padding">
      <br>
      <br>
      <h2 style="text-align: center;">Payment details</h2><br>
       <form name="payment">
          
          <br>
          <div class="list">
          <label class="item item-input">
              <span class="input-label">CARD NUMBER</span>
              <input type="tel" name="cardNumber" required>
            </label>

             <label class="item item-input">
              <span class="input-label">CVC</span>
              <input type="tel" name="cvv" required>
            </label>
 

              <h4 style="text-align:center;">EXPIRY DATE</h4>

            <div class="row">
             <div class="col">
               <label class="item item-input">
                <span class="input-label">MONTH</span>
                <input type="tel" name="month"placeholder=" MM" required>
               </label>
             </div>
             <div class="col">
                <label class="item item-input">
                <span class="input-label">YEAR</span>
                <input type="tel" name="year" placeholder=" YY" required>
               </label>
             </div>
            </div>


          </div>

          <button ng-click="goNext()" class="button button-full button-positive" type="submit">
            Finish
          </button>
          <br>
          <br>
          <br>
          <img class="img-responsive pull-right" style= "margin-left: auto;margin-right: auto;display: block;" src="http://i76.imgup.net/accepted_c22e0.png">

       </form>
      </ion-content>
    </ion-view>