<ion-view style=""title="Return Flight">
    <ion-content class="has-header" padding="true" style="background: url(img/KNefe58PTyShnFNsDpxE_background.png) no-repeat center;background-size:cover;">
        <div style="" class="button-bar">
            <button class="button button-positive  button-block icon-left ion-android-arrow-back" id="returnFlight-button3"  ng-click="goToPreviousPage()">Prev</button>
            <button class="button button-positive  button-block icon-right ion-arrow-right-c" id="returnFlight-button5" ng-disabled="buttons.$invalid" ng-click="goToNextPage()">Next</button>
        </div>
        <h3 style="color: rgb(240, 227, 227);" >From :  <span style="color:#1C86EE ">{{from}}</span> </h3>
        <h3 style="color: rgb(245, 231, 231);" >to :  <span style="color:#1C86EE">{{to}} </span></h3>

<ion-content>        
<ion-item collection-repeat="flight in flights | limitTo: paginationLimit()">
<div>
            <img style="display: block; margin-left: auto; margin-right: auto;" src="../img/KLMft.jpg" height="auto" width="100%">
          <ion-radio style="" name="flights">.</ion-radio>
        </div>
        <div style="color: rgb(13, 239, 242);">
            <p>From :  {{flight.from}}</p>
        </div>
        <div style="color: rgb(13, 239, 242);">
            <p>Time :  {{flight.timeFrom | date}}</p>
        </div>
        <div style="color: rgb(13, 239, 242);">
            <p>Date :  {{flight.dateFrom | date}}</p>
        </div>
        <div style="color: rgb(255, 255, 255);">
            <p>To : {{flight.to}}</p>
        </div>
        <div style="color: rgb(255, 255, 255);">
            <p>Time :  {{flight.timeTo | date }}</p>
        </div>
        <div style="color: rgb(255, 255, 255);">
            <p>Date :  {{flight.dateTo | date }}</p>
        </div>
         <div style="color: rgb(13, 239, 242);">
            <p>Duration :  {{flight.duartion}}</p>
        </div>
         <div style="color: rgb(13, 239, 242);">
            <p>Cost :  {{flight.cost | currency}}</p>
        </div>
      
      </ion-item>
 </ion-content>
        
        <button class="button button-positive  button-block icon-right ion-arrow-down-c" ng-show="hasMoreItemsToShow()" ng-click="showMoreItems()">Show more</button>
    </ion-content>
</ion-view>