<div class="container" style="background-color: rgba(254, 254, 254, 0.59); box-shadow: 3px 2px 1px RGBA(0, 0, 0, 0.51);">


      <div class="row"><br></div>
      <div class="row"><br></div>
      <div class="row">
            <div class="col-md-1 col-xs-1"></div>
            <div class="col-md-3 col-xs-3"><h2>BookingRef:{{bookingref}}</h2></div>
      </div>

      <br>

      <div class="row">
            <div class="col-md-2 col-xs-2"></div>
            <div class="col-md-1 col-xs-1"><img src="./images/outgoing.png" width="50px" height="50px"></div>
            <div class="col-md-1 col-xs-1"></div>
            <div class="col-md-4 col-xs-4"><h3>Outgoing Flight</h3></div>
      </div>

      <div class="row">
            <div class="col-md-3 col-xs-3"></div>
            <div class="col-md-1 col-xs-1"><h5>Date</h5></div>
            <div class="col-md-2 col-xs-2"></div>
            <div class="col-md-1 col-xs-1"><h5>Time</h5></div>
            <div class="col-md-2 col-xs-2"></div>
            <div class="col-md-1 col-xs-1"><h5>From</h5></div>
      </div>

      <div class="row">
            <div class="col-md-3 col-xs-3"></div>
            <div class="col-md-1 col-xs-1"><h5>{{date1}}</h5></div>
            <div class="col-md-2 col-xs-2"></div>
            <div class="col-md-1 col-xs-1"><h5>{{time1}}</h5></div>
            <div class="col-md-2 col-xs-2"></div>
            <div class="col-md-1 col-xs-1"><h5>{{from}}</h5></div>
      </div>

      <div class="row">
            <div class="col-md-3 col-xs-3"></div>
            <div class="col-md-1 col-xs-1"><h5>Date</h5></div>
            <div class="col-md-2 col-xs-2"></div>
            <div class="col-md-1 col-xs-1"><h5>Time</h5></div>
            <div class="col-md-2 col-xs-2"></div>
            <div class="col-md-1 col-xs-1"><h5>To</h5></div>
      </div>

      <div class="row">
            <div class="col-md-3 col-xs-3"></div>
            <div class="col-md-1 col-xs-1"><h5>{{date2}}</h5></div>
            <div class="col-md-2 col-xs-2"></div>
            <div class="col-md-1 col-xs-1"><h5>{{time2}}</h5></div>
            <div class="col-md-2 col-xs-2"></div>
            <div class="col-md-1 col-xs-1"><h5>{{to}}</h5></div>
      </div>

      <div ng-if="returnFlight>0">

      <div class="row">
            <div class="col-md-2 col-xs-2"></div>
            <div class="col-md-1 col-xs-1"><img src="./images/returnflight.png" width="50px" height="50px"></div>
            <div class="col-md-1 col-xs-1"></div>
            <div class="col-md-4 col-xs-4"><h3>Return Flight</h3></div>
      </div>

      <div class="row">
            <div class="col-md-3 col-xs-3"></div>
            <div class="col-md-1 col-xs-1"><h5>Date</h5></div>
            <div class="col-md-2 col-xs-2"></div>
            <div class="col-md-1 col-xs-1"><h5>Time</h5></div>
            <div class="col-md-2 col-xs-2"></div>
            <div class="col-md-1 col-xs-1"><h5>From</h5></div>
      </div>

      <div class="row">
            <div class="col-md-3 col-xs-3"></div>
            <div class="col-md-1 col-xs-1"><h5>{{date3}}</h5></div>
            <div class="col-md-2 col-xs-2"></div>
            <div class="col-md-1 col-xs-1"><h5>{{time3}}</h5></div>
            <div class="col-md-2 col-xs-2"></div>
            <div class="col-md-1 col-xs-1"><h5>{{to}}</h5></div>
      </div>

      <div class="row">
            <div class="col-md-3 col-xs-3"></div>
            <div class="col-md-1 col-xs-1"><h5>Date</h5></div>
            <div class="col-md-2 col-xs-2"></div>
            <div class="col-md-1 col-xs-1"><h5>Time</h5></div>
            <div class="col-md-2 col-xs-2"></div>
            <div class="col-md-1 col-xs-1"><h5>To</h5></div>
      </div>

      <div class="row">
            <div class="col-md-3 col-xs-3"></div>
            <div class="col-md-1 col-xs-1"><h5>{{date4}}</h5></div>
            <div class="col-md-2 col-xs-2"></div>
            <div class="col-md-1 col-xs-1"><h5>{{time4}}</h5></div>
            <div class="col-md-2 col-xs-2"></div>
            <div class="col-md-1 col-xs-1"><h5>{{from}}</h5></div>
      </div>

    </div>

      <br>
      <br>
      <br>
</div>
