
<div  >

    <style>
        .full button span {
            background-color: limegreen;
            border-radius: 32px;
            color: black;
        }
        .partially button span {
            background-color: orange;
            border-radius: 32px;
            color: black;
        }
    </style>

    <h1 style="text-align: center ; font-family: Helvetica; font-size: 250%; color: #fff4e0;">B o o k . Y o u r . F l i g h t </h1>

    <link rel="stylesheet" href="styles/landingbage.css">

    <!--start-->
    <div style="position: fixed;top: 20% ;left: 50%;width: 50%;" class="hidden-xs hidden-sm">
        <div  >
            <div style="height: 305px">
                <uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
                    <uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
                        <img  ng-src="{{slide.image}}" style="margin:auto;width: auto;height: 300px;max-height: 300px;">
                        <div class="carousel-caption">

                            <p>{{slide.text}}</p>

                        </div>
                    </uib-slide>
                </uib-carousel>
            </div>

        </div>
    </div>
     <!--end-->
    <div class="container ">

        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-8 col-xs-9 bhoechie-tab-container">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 bhoechie-tab-menu">
                    <div class="list-group">
                        <a style="cursor:pointer;" class="list-group-item text-center {{f1}}" ng-click="S1()">
                            <h4 >Round Trip</h4>
                        </a>
                        <a style="cursor:pointer;" class="list-group-item  text-center {{f2}}" ng-click="S2()">
                            <h4 >One Way</h4>
                        </a>

                    </div>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bhoechie-tab">
                    <!-- flight section -->
                    <div class="bhoechie-tab-content active">
                        <div>
                        <form name="buttons">
                            <label for="from">From</label>

                            <input
                                id="from"
                                type="text"

                                required="required"
                                placeholder="Origin"
                                ng-model="selectedOrigin"

                                uib-typeahead="airport.iata for airport in Airports | filter:$viewValue | limitTo:10"
                                style="width : 35% ;padding: 5px 10px; margin: 2px 0; box-sizing: border-box; border: 2px solid #CACBCC; border-radius: 4px; "
                                typeahead-on-select="SetOriginAirport($item)">

                            
                             
                            <label for="to">To</label>
                            <input 
                                id="to" 
                                type="text" 
                                

                                required="required"
                                placeholder="Destination"
                                ng-model="selectedDestination"
                                style="width : 35% ;padding: 5px 10px; margin: 2px 0; box-sizing: border-box; border: 2px solid #CACBCC; border-radius: 4px;"
                                uib-typeahead="airport.iata for airport in Airports | filter:$viewValue | limitTo:10"
                                typeahead-on-select="SetDestinationAirport($item)"

                                >


                           
                            <label >Departure Date</label>
                            <label ng-show="showMe==1"style="position: relative; padding-left: 22%" >Return date</label>
                            <div >
                                <div class="row">
                                    <div class="col-md-6">
                                        <p class="input-group"  >


                                            <input id="date1"  required="required" type="text" style="font-size: smaller;" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
                                        </p>

                                    </div>

                                    <div class="col-md-6" >
                                        <p ng-show="showMe==1" class="input-group"  >


                                            <input ng-show="showMe==1" id="date2"  type="text" style="font-size: smaller;" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt2" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="false" close-text="Close" alt-input-formats="altInputFormats" />
          <span ng-show="showMe==1" class="input-group-btn">
            <button ng-show="showMe==1" type="button" class="btn btn-default" ng-click="open2()"><i ng-show="showMe==1" class="glyphicon glyphicon-calendar"></i></button>
          </span>
                                        </p>

                                    </div>
                                </div>

                            </div>


                        </div>

                        <div>





                            </div>
                          <div>

                              </div>
                              <div class="row">
                                
                                <div class="col-md-1 col-sm-1 col-xs-1">
                                 <label >Adults:</label>
                                 </div>
                                  <div class="col-md-1 col-sm-1 col-xs-1"></div>
                                 <div class="col-md-2 col-sm-2 col-xs-2">
                                     <label >Children:</label>
                                    </div>
                         <div class="col-md-1 col-sm-1 col-xs-1"></div>
                        <div class="col-md-1 col-sm-1 col-xs-1">
                        <label >Babies:</label>
                        </div>
                        </div>
                                <div class="row">
                                     
                                    <select style="width : 20%; " ng-model="adults" class="form-control col-md-2 col-sm-2 col-xs-2  "
                                required="required" id="sel1">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                    </select>
                                      <div class="col-md-1 col-sm-1 col-xs-1"></div>
                                    <select style="width : 20% ;" ng-model="child" class="form-control col-md-2 col-sm-2 col-xs-2"  id="sel2">

                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                    </select>
                                    <div class="col-md-1 col-sm-1 col-xs-1"></div>
                                    <select style="width : 20% ;" ng-model="baby" class="form-control col-md-2 col-sm-2 col-xs-2"  id="sel3">

                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                    </select>
                                </div>
                        
                             <h4>choose class:</h4>
                         
                        <div class="radio-inline" >
                            <label><input type="radio" class="form-control" ng-required="true" name="optradio">Economy</label>
                        </div>
                        <div class="radio-inline">
                            <label><input type="radio" class="form-control"  ng-required="true" name="optradio">Business</label>
                        </div>
                        <div class="radio-inline">
                            <label><input type="radio" class="form-control"ng-required="true" name="optradio" >First</label>
                        </div>
                        </div>
                        <div class="row"><br></div>
                        <div class="row">
                        <button style=" background-color:#009CDA;position:relative;margin-left: 27%" type="button" class="btn btn-primary" ng-click="goToNextPage()" ng-disabled="buttons.$invalid">View Flights</button>
                        </div>
                        </div>
                    
                    <!-- One way section -->

                </div>
            </div>
        </div>


    </div>

    <br><br><br><br><br><br>

</div>

